.center {
    display: flex;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    justify-content: center;
}

input[type="radio"] {
    background-color: #66C0F4;
}
input[type="radio"]:checked {
    background-color: #2A475E;
}

input[type="radio"]:hover {
    background-color: #2A475E;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%272%27 fill=%27%23fff%27/%3e%3c/svg%3e")
}

.card:hover{
    transform: scale(1.05);
}

.list-group-item {
    background-color: #1B2838;
}